<link rel="stylesheet" type="text/css" href="../static/css/loginpagestyle.css">
</head>

<form action="action_page.php" method="post">
  <div class="imgcontainer">
    <img src="../static/Resources/mosslogo.png" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <label for="uname"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" name="uname" required><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <button type="submit"  class="login-btn">Login</button><br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label><br>
    <button type="button" class="cancel-btn">Cancel</button><br>
    <span class="psw"><a href="#">Forgot password?</a></span>
  </div>


  <<script src="../static/js/LoginPageScript.js"></script>
</form>

